* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 2.3rem;
	color: #333;
	margin-bottom: 1rem;
}

h2 {
	margin: 0;
	margin-bottom: 0.5rem;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal-content {
	background-color: #fff;
	padding: 2rem;
	border-radius: 8px;
	position: relative;
	width: 90%;
	max-width: 400px;
}

.close-modal {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

input {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: 225ms ease;
}

input:hover {
	border-color: #495bff;
}

button {
	background-color: #495bff;
	color: white;
	border: none;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	transition: 225ms ease;
}

button:hover {
	background-color: #1b31fb;
}

.msplit {
	display: flex;
	gap: 1rem;
}

.live-chat {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border: none;
	border-radius: 8px;
	width: 30%;
	max-height: 90vh !important;
	overflow-y: auto;
}

#msgs {
	/* max-height: 60vh; */
	overflow-y: auto;
}

#msgs span.msg {
	display: block;
	padding: 0.3rem 0;
}

.timestamp {
	color: #495bff;
	margin-right: 0.5rem;
}

.user {
	font-weight: bold;
	color: #d19d00;
	margin-right: 0.5rem;
}

.mright {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	width: 100%;
}

.most-words {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border: none;
	border-radius: 8px;
	width: 100%;
}

.ag-theme-quartz .ag-cell {
	user-select: text !important;
	-webkit-user-select: text !important;
}
